
folders:
- title: Theme documentation
  folderitems:

  - title: Homepage
    jurl: /index.html
    hurl: https://docs.mycompany.com/index
    ref: home

  - title: Getting Started
    jurl: /getting-started.html
    hurl: https://docs.mycompany.com/getting-started.
    ref: home

- title: Sample Folder Title
  folderitems:

  - title: Sample1 level1
    jurl: /sample.html
    hurl: https://docs.mycompany.com/solutions/widgets/acme/docs/sample
    ref: sample1

  - title: Sample2 level1
    jurl: /sample2.html
    hurl: https://docs.mycompany.com/solutions/widgets/acme/docs/sample2
    ref: sample12

    subfolders:
    - title: Another level deep
      output: web
      subfolderitems:

      - title: Some content
        jurl: /sublevel1.html
        hurl: https://docs.mycompany.com/solutions/widgets/acme/docs/sublevel1
        ref: sublevel1

      - title: Some more content
        jurl: /sublevel2.html
        hurl: https://docs.mycompany.com/solutions/widgets/acme/docs/sublevel2
        ref: sublevel2

        subsubfolders:
        - title: Last level deep
          output: web
          subsubfolderitems:

          - title: Some content last level
            jurl: /subsublevel1.html
            hurl: https://docs.mycompany.com/solutions/widgets/acme/docs/subsublevel1
            ref: sample

          - title: Some more content last level
            jurl: /subsublevel2.html
            hurl: https://docs.mycompany.com/solutions/widgets/acme/docs/subsublevel2
            ref: sample


